.topmenu
{
    margin-bottom: -100px;
}

.menu 
{
    list-style: none; 
    margin: 0 480px 0 480px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
}

.menu__li 
{
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__li_long
{
    width: 640px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu__li_background
{
    background-color: #15a98c;
}

.menu__a
{
    font-size: 19px;
    line-height: 32px;
    color: #333;
    font-family: "Georgia";
    text-decoration: none;
}

.menu__a_long
{
    margin-left: 20px;
}

.header_background
{ 
   background-image: url(/Users/abu13/web-development/img/background.jpg);
   background-repeat:no-repeat;
}

.photo_margin
{ 
    margin: 200px 60px 50px 0;

}

.quote_white
{
    max-width: 510px;
}

.quote__text_white
{
    margin-top: -400px;
    color: #ffffff;
}

.quote__footer_white
{ 
    margin-bottom: 600px;
    color: #f5f5f5;
}

.movies
{
    display: flex;
    background-color: #f5f5f5;
    align-items: center;
    flex-direction: column;
}


.movies__h
{ 
    margin: 100px 360px 50px 310px;
    font-size: 36px;
    line-height: 42px;
    color: #333;
    font-weight: 400;
    font-family: "Open Sans";
    align-self: flex-start; 
}

.movies__content
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    font: 19px/32px "Georgia";

}

.movies__content__box
{
    display: flex;
    flex-direction: column;
}

.movies__content__h
{
    font-size: 22px;
    line-height: 32px;
    color: #333;
    font-weight: 700;
    font-family: "Open Sans";

}

.movies__content__photo
{
    width: 285px;
    height: 190px;
    border-radius: 5px;
    background-color: #464646;
}

.movies__content__text
{
    width: 285px;
    height: 565px;
    font-size: 16px;
    line-height: 28px;
    color: #555;
    font-family: "Georgia";
}

.movies__content__button
{
    width: 220px;
    height: 50px;
    border-radius: 5px;
    border-color:  #f5f5f5;
    background-color: #15a98c;
    font-size: 19px;
    line-height: 32px;
    color: #f5f5f5;
    font-family: "Georgia";
    display: flex;
    align-items: center;
    justify-content: center;
}

.form
{
    margin: 50px 0 0 0; 
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    line-height: 32px;
    color: #333;
    font-weight: 400;
    font-family: "Open Sans";
}

.form__h
{
    display: flex;
    align-items: center;
    font-size: 36px;
    line-height: 42px;
    color: #333;
    font-weight: 300;
    font-family: "Open Sans";
}

.selektbox
{
    display: flex;
    flex-direction: column;
}

.selekt
{
    appearance:none;
    background-image: url(/Users/abu13/web-development/img/arrow_down.png);
    background-repeat:no-repeat;
    background-position-x: 498px;
    background-position-y: 20px;
	width: 550px;
    height: 56px;
    border-radius: 3px;
	border: 2px solid #c9c9c9;
    font-size: 18px;
    line-height: 32px;
    color: #555;
    font-weight: 400;
    font-family: "Open Sans";
}

.input
{
	width: 540px;
    height: 50px;
    border-radius: 3px;
	border: 2px solid #c9c9c9;	
}
.input:hover
{
	border: 2px solid #15a98c;	
}

.text_red
{
    color: tomato;
}

.gender
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.text-area
{
	width: 540px;
    height: 150px;
	border-radius: 3px;
    border: 2px solid #c9c9c9;
}

.button
{
    margin-bottom: 50px;
	width: 220px;
    height: 50px;
    border-radius: 5px;
    border-color: #ffffff;
    background-color: #15a98c;
	font-size: 19px;
    line-height: 32px;
    color: #f5f5f5;
    font-family: "Georgia";
}
.form__line
{
    margin: 20px;    
}

.footer
{
    display: flex;
    background-color: #f5f5f5;
    align-items: center;
    justify-content: space-around;

}

.footer__text
{
    font-size: 16px;
    line-height: 32px;
    margin: 20px 0 20px 0;
    color: #555;
    font-family: "Georgia";
}





