.body
{
	margin: 0;
	padding: 0;
}

.topmenu
{
    padding-top: 0;
    margin-top: -15px;
    max-width: 100%;
    min-height: 50px;
    margin-bottom: -66px;
}

.menu 
{
    padding: 0;
    list-style: none; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu__list 
{
    min-height: 50px;
    margin-right: auto;
    min-width: 160px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 50px;
}

.menu__list_background
{
    min-width: 140px;
    background-color: #15a98c;
}

.menu__a
{
    margin: 0 20px 0 20px;
    font-size: 19px;
    line-height: 32px;
    color: #333;
    font-family: "Georgia";
    text-decoration: none;
}

.menu__a_white
{
    color: #f5f5f5;
}

.top
{
    margin: 0 0 50px 0;
    background-image: url(/Users/abu13/web-development/img/background.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.quoteblock
{
    margin-top: 60px;
    max-width: 100%;
    color: #fff;
    font: 28px/42px italic;
    font-style: italic;
    display: flex;
    flex-direction: column;
}

.quote
{
    padding-inline: 20px;
    margin: 50px 0 50px 0;
    max-width: 100%;
}

.quote__footer
{
    font: 600 16px/42px "Open Sans";
    color: #f5f5f5;
}

.photo
{
    max-width: 330px;
    max-height: 350px;
    height: auto;
    width: auto;
    border-radius: 5px;
    background-color: #132d36;
    margin-bottom: 50px;
    align-self: center;
}

.articleblock
{
    padding-inline: 20px;
    margin: 50px auto;
    font: 19px/32px "Georgia";
    color: #555;  
}

.article__text
{
    margin: 50px 0 50px 0;

}

.article__line
{
    width: 60px;
    height: 6px;
    border-radius: 3px;
    background-color: #45c3aa;
}

.article__h1
{
    font: 700 48px/42px  "Open Sans";
    color: #333;
}

.article__h2
{
    font: 400 36px/42px "Open Sans";
    color: #333;
}

.list
{
    max-width: 320px;
    font: 19px/36px;
}

.list__header
{
    font: 600 24px/32px "Open Sans";
    color: #15a98c;
}

.list__text
{
    margin: 30px 50px 50px -20px;
}

.article__footer 
{
    margin: 50px 0 50px 0;
    font: 19px/32px "Georgia";
    font: 19px/32px;
    color: #15a98b;
}

.article__footer_underline
{

    border-bottom:  #15a98b;
}

.movies
{
    display: flex;
    background-color: #f5f5f5;
    align-items: center;
    flex-direction: column;
}


.movies__h
{ 
    padding-inline: 20px;
    font-size: 36px;
    line-height: 42px;
    color: #333;
    font-weight: 400;
    font-family: "Open Sans";
    align-self: flex-start; 
}

.movies__content
{
	display: flex;
    padding-inline: 20px;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    font: 19px/32px "Georgia";
    margin: 20px 0 20px 0; 
}


.movies__content__h
{
    font-size: 22px;
    line-height: 32px;
    color: #333;
    font-weight: 700;
    font-family: "Open Sans";
    padding: 0;
    margin: 0;
}

.movies__content__photo
{
    margin-bottom: 0;
    padding: 0;
    width: auto;
    height: auto;
    max-width: 285px;
    max-height: 190px;
    border-radius: 5px;
    background-color: #464646;
}

.movies__content__text
{
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 565px;
    font-size: 16px;
    line-height: 28px;
    color: #555;
    margin-top: -10px;
    font-family: "Georgia";
    margin-bottom: 50px;
    padding: 0;
}

.movies__content__button
{
    height: auto;
    width: auto;
    min-width: 220px;
    min-height: 50px;
    border-radius: 5px;
    border-color:  #f5f5f5;
    background-color: #15a98c;
    margin-bottom: 50px;
    font-size: 19px;
    line-height: 32px;
    color: #f5f5f5;
    font-family: "Georgia";
    display: flex;
    align-items: center;
    justify-content: center;
}

.form
{
    margin: 50px 0 50px 0; 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
    line-height: 32px;
    color: #333;
    font-weight: 400;
    font-family: "Open Sans";
}

.form__h
{
    display: flex;
    align-items: center;
    font-size: 19px;
    line-height: 32px;
    font-weight: 300;
    color: #333;
    font-family: "Open Sans";
}

.selektbox
{
    display: flex;
    flex-direction: column;
}

.selekt
{
    appearance:none;
    background-image: url(/Users/abu13/web-development/img/arrow_down.png);
    background-repeat:no-repeat;
    background-position-x: 97%;
    background-position-y: center;
	max-width: 100%;
    width: auto;
    height: auto;
    min-height: 56px;
    border-radius: 3px;
	border: 2px solid #c9c9c9;
    font-size: 18px;
    line-height: 32px;
    color: #555;
    font-weight: 400;
    font-family: "Open Sans";
    padding-left: 18px;
}

.inputbox
{
    margin: 35px 0 35px 0;
}

.input
{
    min-width: 400px;
	max-width: 100%;
    max-height: 50px;
    border-radius: 3px;
	border: 2px solid  #c9c9c9;
    resize: unset;
    font-size: 18px;
    line-height: 32px;
    color: #555;
    font-weight: 400;
    font-family: "Open Sans";
}

.input:hover
{
	border: 2px solid #15a98c;	
}

input[type='radio'],label 
{
    cursor: pointer;
}

input[type='radio'] 
{
    position:  relative;
    height: 22px;
    width: 22px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

input[type='radio']::before 
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: #f5f5f5;
    border: 2px solid  #c9c9c9  ;
}

input[type='radio']:checked::after 
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #555;
    transform: translate(-50%, -50%);
    visibility: visible;
}

.text_red
{
    color: tomato;
}

.genderbox
{
    margin: 35px 0 35px 0;
}

.gender
{
    margin-top: 10px;
    width: auto;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.gender__box
{
    display: flex;
    flex-direction: row;
    margin-right: 40px;
}

.gender__text
{
    margin-top: -2px;
}

.text-area
{
    resize: none;
    width: auto;
    height: auto;
	max-width: 540px;
    min-width: 400px;
    min-height: 150px;
	border-radius: 3px;
    border: 2px solid #c9c9c9;
    font-size: 18px;
    line-height: 32px;
    color: #555;
    font-weight: 400;
    font-family: "Open Sans";
}

.button
{
    margin: 50px 0 50px 0;
	width: 220px;
    height: 50px;
    border-radius: 5px;
    border-color: #fff;
    background-color: #15a98c;
	font-size: 19px;
    line-height: 32px;
    color: #f5f5f5;
    font-family: "Georgia";
}
.form__line
{
    width: 100px;
    max-width: 200px;
    margin: 20px;    
}

.footer
{
    display: flex;
    background-color: #f5f5f5;
    flex-direction: row;
    justify-content: space-around;

}

.footer__text
{
    padding-inline: 20px;
    margin: 20px 0 20px 0;
    font-size: 16px;
    line-height: 32px;
    color: #555;
    font-family: "Georgia";
}

@media screen and (min-width: 768px)
{
    .topmenu
    {
        margin: 0 auto -50px 0;
    }

    .menu 
    {
        margin: 0 auto;
        justify-content: flex-start;
    }

    .menu__list 
    {
        width: 160px;
        justify-content: center;
        align-items: center;
    }

    .menu__list_long
    {
        width: 640px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .menu__a_long
    {
        margin-left: 20px;
    }

    .movies__content
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .movies__content__text
    {
        max-width: 100%;
        padding: 0 5px 0 5px;
    }

    .movies__content__box
    { 
        max-width: 45%;
    }

    .form__h 
    {
        font-size: 36px;
        line-height: 42px;
        color: #333;
        font-weight: 300;
        font-family: "Open Sans";
    }

    .selekt
    {
        width: 550px;
        height: 56px;
    }

    .input
    {
        width: 540px;
        height: 50px;
    }

    .gender 
    {
        margin-top: 20px;
    }

    .text-area
    {
        width: 540px;
        height: 150px;
    }
}

@media screen and (min-width: 1024px)
{
    .quoteblock
    {
        flex-direction: row-reverse;
    }

    .quote
    {
        padding-inline: unset;
        max-width: 510px;
        margin-left: 60px;
        margin-top: 230px;
    }

    .photo
    {
        align-content: unset;
        margin-top: 200px;
        margin-left: 30px;
    }

    .articleblock
    {
        margin: 30px 460px 30px 460px;
        max-width: 1000px;
        display: flex;
        flex-direction: row-reverse;
    }

    .list
    {
        margin: 0 0 0 40px;
        padding: 20px 0 0 30px;
        width: 360px;
    }

    .article
    {
        padding-inline: unset;
        padding: 0 0 0 65px;
        width: 560px;
    }

    .article__footerbox
    {
        margin-left: 50px;
        margin-bottom: 50px;
    }

    .movies__h
    { 
        padding-inline: unset;
        margin: 50px 360px 10px 310px;
        align-self: flex-start; 
    }

    .movies__content
    {
        display: flex;
        flex-direction: row;
        width: 1200px;
    }

    .movies__content__box
    {
        max-width: 35%;
    }

    .movies__content__text
    {
        max-width: 258px;
    }

}

@media screen and (min-width: 1366px)
{

    .topmenu
    {
        margin: 0 auto -50px 0;
    }

    .menu 
    {
        margin: 0 480px 0 480px;
        justify-content: flex-start;
    }

    .menu__list 
    {
        width: 160px;
        justify-content: center;
        align-items: center;
    }

    .menu__list_long
    {
        width: 640px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .menu__a_long
    {
        margin-left: 20px;
    }

    .movies__h
    {
        padding-left: 20px;
    }

    .article
    {
        margin-top: -200px;
    }

    .article__h2
    {
        margin-top: 70px;
    }
    



}